{% extends "BackOfficeBundle::layout.html.twig" %} 

{% block style %}
<!--Less-->
<link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/BoMenu.less') }}" />
<link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/listClient.less') }}" />
 {% endblock %} 
 
 {% block fos_user_content %}
   <div class="row">
       <div class="col-md-5 col-md-offset-3">
           <table class="table">
           <tr>
                <th>E-mail</th>
                <th>Username</th>
           </tr>
            {% for user in user %}
               <tr>
                <th>{{ user.email }}</th>
                <th>{{ user.username }}</th>
                <th><a href="{{ path('info_user', { 'email': user.email }) }}">Voir</a></th>
                <th><a href="{{ path('profil_user', { 'email': user.email }) }}">Modifier</a></th>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock fos_user_content %}