{% extends "CmsBundle::layout.html.twig" %}

{% block style %}
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/formParam.less') }}"/>
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('digital_pilot_choiceApp') }}"><i class="fa fa-arrow-left"></i>&nbsp
                    Retour</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-text">
                    <li><i class="fa fa-angle-right"></i>&nbsp Back Office &nbsp</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('stats') }}">Statistiques </a></li>
                    <li class="active"><a href="#"> Paramétrer le formulaire<span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-user"></i> {{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('digital_pilot_profil') }}">Profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('connexionInformations') }}">Informations de connexion</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

    <!-- Content -->
    <div class="row">
        <h1 class="text-center">Configuration du formulaire</h1>

        <h2 class="text-center">Choisissez les informations que vous souhaitez demander :</h2>

        <div class="row">
            {% for key, info in formCustomer %}
                {% if key <= 3 %}
                    <div class="col-lg-3">
                        <div class="input-group">
                        <span class="input-group-addon">
                                <input type="checkbox">
                        </span>
                            <input type="text" class="form-control" value="{{ info.label }}" disabled>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <br>

        <div class="row">
            {% for key, info in formCustomer %}
                {% if key > 3 %}
                    <div class="col-lg-3">
                        <div class="input-group">
                        <span class="input-group-addon">
                                <input type="checkbox" checked>
                        </span>
                            <input type="text" class="form-control" value="{{ info.label }}" disabled>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}