{% extends "CmsBundle::layout.html.twig" %}

{% block style %}
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/choiceApp.less') }}" />
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('digital_pilot_profil') }}">Profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('connexionInformations') }}">Informations de connexion</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        <div class="row">
            <h1 class="text-center">Choix de l'application</h1>

            <div class="col-xs-2 col-md-3">
                <a href="{{ path('stats') }}" class="thumbnail">
                    <img src="{{ asset('/template/img/graph.png') }}" alt="Graph icon">
                    <h3>Back Office</h3>
                </a>
            </div>


            <div class="col-xs-2 col-md-3">
                <a href="{{ path('customer_management') }}" class="thumbnail">
                    <img src="{{ asset('/template/img/user.png') }}" alt="Graph icon">
                    <h3>Gestion client</h3>
                </a>


            </div>
            <div class="col-xs-2 col-md-3">
                <a href="{{ path('digital_pilot_slideshow', {'user': user }) }}" class="thumbnail">
                    <img src="{{ asset('/template/img/play.png') }}" alt="Graph icon">
                    <h3>Slideshow</h3>
                </a>

            </div>
        </div>
    </div>

    {% endblock %}