{% extends "CmsBundle::layout.html.twig" %}

{% block style %}
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/profil.less') }}"/>
{% endblock %}

{% block content %}

    {# inclure le template de la barre de menu
    {{ include('templateMenuCommercant.html.twig', { 'user': user }) }}#}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-user"></i> {{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <!-- Content -->
        <div class="row">
            <h1 class="col-md-offset-3">Modification du profil</h1>
            <form class="form-horizontal" role="form" action="{{ path('digital_pilot_profil') }}"
                  method="POST" {{ form_enctype(form) }} >
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_firstName">
                        {{ form_errors(form.firstName) }}
                        {{ form_label(form.firstName) }}

                    </label>
                    <div class="col-sm-6">
                        {#<input type="email" class="form-control" id="email" placeholder=" Prenom">#}
                        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_lastName">
                        {{ form_errors(form.lastName) }}
                        {{ form_label(form.lastName) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_email">
                        {{ form_errors(form.email) }}
                        {{ form_label(form.email) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_phone">
                        {{ form_errors(form.phone) }}
                        {{ form_label(form.phone) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'N° de téléphone'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_portable">
                        {{ form_errors(form.portable) }}
                        {{ form_label(form.portable) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.portable, { 'attr': {'class': 'form-control', 'placeholder': 'N° de portable'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_address">
                        {{ form_errors(form.address) }}
                        {{ form_label(form.address) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_company">
                        {{ form_errors(form.company) }}
                        {{ form_label(form.company) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.company, { 'attr': {'class': 'form-control', 'placeholder': 'Entreprise'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_companySize">
                        {{ form_errors(form.companySize) }}
                        {{ form_label(form.companySize) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.companySize, { 'attr': {'class': 'form-control', 'placeholder': 'Taille de l\'entreprise'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_companyAddress">
                        {{ form_errors(form.companyAddress) }}
                        {{ form_label(form.companyAddress) }}

                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.companyAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse de l\'entreprise'} }) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-info col-md-offset-6">Valider</button>
            </form>
        </div>
        <!-- /.row -->
    </div>

{% endblock %}