{% extends "CmsBundle::layout.html.twig" %}

{% block style %}
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/customerManagement.less') }}"/>
{% endblock %}

{% block content %}

    {# inclure le template de la barre de menu
    {{ include('templateMenuCommercant.html.twig', { 'user': user }) }}#}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-user"></i> {{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <!-- Content -->
        <div class="row">
            <h1>Modification du profil</h1>
            <form class="form-horizontal" role="form" action="{{ path('digital_pilot_profil') }}"
                  method="POST" {{ form_enctype(form) }} >
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.firstName) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" Prenom">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.lastName) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" Nom">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.email) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.phone) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" N° de téléphone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.portable) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" N° de portable">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.company) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" Entreprise">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.companySize) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" Taille de l'entreprise">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">{{ form_label(form.companyAddress) }}</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder=" Adresse de l'entreprise">
                    </div>
                </div>

                {# {{ form_rest(form) }} #}

                <button type="submit" class="btn btn-info">Valider</button>
            </form>
        </div>
        <!-- /.row -->
    </div>

{% endblock %}