{% extends "CmsBundle::layout.html.twig" %}

{% block style %}
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/profil.less') }}"/>
{% endblock %}

{% block content %}

    {# inclure le template de la barre de menu
    {{ include('templateMenuCommercant.html.twig', { 'user': user }) }}#}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('digital_pilot_choiceApp') }}"><i class="fa fa-arrow-left"></i>&nbsp
                    Retour</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-user"></i> {{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('connexionInformations') }}">Informations de connexion</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <!-- Content -->
        <div class="row">
            <h1 class="text-center">Modification du profil</h1>
            <form class="form-horizontal" role="form" action="{{ path('digital_pilot_profil') }}"
                  method="POST" {{ form_enctype(form) }} >
                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_firstName">
                        {{ form_label(form.firstName) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.firstName is empty %}
                            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                        {% else %}
                            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'value': customer.firstName} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_lastName">
                        {{ form_label(form.lastName) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.lastName is empty %}
                            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                        {% else %}
                            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'value': customer.lastName} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_email">
                        {{ form_label(form.email) }}
                    </label>
                    <div class="col-sm-6">
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'value': customer.email, 'disabled': "disabled"} }) }}

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_phone">
                        {{ form_label(form.phone) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.phone is empty %}
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'N° de téléphone'} }) }}
                        {% else %}
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'value': customer.phone} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_portable">
                        {{ form_label(form.portable) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.portable is empty %}
                            {{ form_widget(form.portable, { 'attr': {'class': 'form-control', 'placeholder': 'N° de portable'} }) }}
                        {% else %}
                            {{ form_widget(form.portable, { 'attr': {'class': 'form-control', 'value': customer.portable} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_address">
                        {{ form_label(form.address) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.address is empty %}
                            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
                        {% else %}
                            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'value': customer.address} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_company">
                        {{ form_label(form.company) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.company is empty %}
                            {{ form_widget(form.company, { 'attr': {'class': 'form-control', 'placeholder': 'Entreprise'} }) }}
                        {% else %}
                            {{ form_widget(form.company, { 'attr': {'class': 'form-control', 'value': customer.company} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_companySize">
                        {{ form_label(form.companySize) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.companySize is empty %}
                            {{ form_widget(form.companySize, { 'attr': {'class': 'form-control', 'placeholder': 'Taille de l\'entreprise'} }) }}
                        {% else %}
                            {{ form_widget(form.companySize, { 'attr': {'class': 'form-control', 'value': customer.companySize} }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="profil_form_companyAddress">
                        {{ form_label(form.companyAddress) }}
                    </label>
                    <div class="col-sm-6">
                        {% if customer.companyAddress is empty %}
                            {{ form_widget(form.companyAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse de l\'entreprise'} }) }}
                        {% else %}
                            {{ form_widget(form.companyAddress, { 'attr': {'class': 'form-control', 'value': customer.companyAddress} }) }}
                        {% endif %}
                    </div>
                </div>


                <button type="submit" class="btn btn-info col-md-offset-8">Valider</button>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {{ form_rest(form) }}

            </form>
        </div>
        <!-- /.row -->
    </div>

{% endblock %}